Utilities
test_folder/__pycache__
test_folder/.venv
test_folder/*.prova
STUDIO
_minted*/
*.minted
thesis/Tesi
test_folder/results/debug/
test_folder/results/profiles/
test_folder/results/graphs/
test_folder/results/*.csv
test_folder/results/*.json
test_folder/results/*.txt
